@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: url('/assets/login-screen-bg.jpeg');
  /* background: linear-gradient(135deg, #1e3a8a, #6d28d9); /* Gradiente de azul para roxo 
  */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
